<button
  class="like-button"
  [class.liked]="is_liked"
  [disabled]="isLoading"
  (click)="toggleLike()"
  [attr.aria-label]="(is_liked ? 'post.likes.liked' : 'post.likes.like') | translate"
>
  <svg
    *ngIf="!isLoading"
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    viewBox="0 0 24 24"
    [attr.fill]="is_liked ? 'currentColor' : 'none'"
    stroke="currentColor"
    stroke-width="2"
  >
    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/>
  </svg>

  <span *ngIf="isLoading" class="spinner"></span>

    <span class="like-text">{{ (is_liked ? 'post.likes.liked' : 'post.likes.like') | translate }}</span>
</button>
